* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #131921;
  --color-2: #3b4149;
  --color-3: #febd89;
  --color-4: #232f3e;
}

body {
  font-family: "Lato", Roboto;
  font-size: 16px;
  font-weight: 300;
}
a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}


