* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --color-1: #131921;
  --color-2: #3b4149;
  --color-3: #febd89;
  --color-4: #232f3e;
  --color-5:#bf4800;
  --color-6:#f5f5f7;
}

body {
  font-family: "Lato", Roboto;
  font-size: 16px;
  font-weight: 300;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

.button{
  background-color: var(--color-4);
  color: white;
  padding: 0.5rem 0.6rem;
  font-size: 1rem;
  border-radius: 0.5rem;

  &:hover{
    background-color: var(--color-3);
    color: black;
  }
}


