.card {
  width: 16rem;
  position: relative;

  .card-img-top {
    width: 13rem;
    height: 13rem;
  }
  .brand {
    color: var(--color-5);
  }
  .product-title {
    color: var(--color-7);
  }

  .wishlist-icon {
    position: absolute;
    top: 0.8rem;
    right: 0.9rem;
  }
  .action-bar {
    position: absolute;
    top: 2.5rem;
    right: 0.9rem;
    display: none;
  }
  .product-image > img:last-child {
    display: none;
  }

  &:hover {
    .action-bar {
      display: unset;
    }
    .product-image > img:nth-child(1) {
      display: none;
    }
    .product-image > img:last-child {
      display: block;
    }
  }
  .price{
    font-weight: 500;
  }
}
